* {
  box-sizing: border-box;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
}

h2, h3, p {
  color: grey;
}

hr {
  color: lightgrey;
}

.btn {
  padding: 15px 30px 15px 30px;
  background-color: rgba(0, 0, 0, 0);
  border: #777 2px solid;
  border-radius: 4px;
  color: #000;
  margin: 20px 0 20px 0;
  font-size: 16px;
  font-weight: 400;
}

.btn:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: #000 2px solid;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  transition: .3s ease;
}

/* Featured Section */
.grid-items-featured {
  position: relative;
  height: auto;
  padding: 20px;
  border: #000 1px solid;
  margin: 50px 20px 50px 20px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.featured-image-container {
  max-height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.featured-image {
  border-radius: 5px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.grid-items {
  position: relative;
  max-width: 400px;
  padding: 20px;
  border: #000 1px solid;
  margin: 20px 20px 20px 20px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}


.inactive {
  opacity: 0;
  z-index: -2;
}

.grid-items button:hover {
  padding: 15px 30px 15px 30px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  backdrop-filter: blur 30px;
  background-color: rgba(0, 0, 0, 0);
  border: #000 2px solid;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  transition: .3s ease;
}

.image-container {
  max-height: 200px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.grid-image {
  max-height: 200px;
  border-radius: 5px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin: auto;
  margin-top: 20%;
  /* margin-left: 50%; */
  height: 200px;
  width: 400px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.grid-items:hover img {
  opacity: 0.3;
}

.grid-items:hover .middle {
  opacity: 1;
}

.image-container {
  text-align: center;
}

.my-image {
  height: 100px;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .side-nav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(53, 53, 53);
    /* background-image: url('https://images.pexels.com/photos/3646206/pexels-photo-3646206.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); */
    background-repeat: no-repeat;
    color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.6);
  }

  main {
    margin-left: 30%; /* Same as the width of the sidenav */
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    z-index: 10;
  }
}

video {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -10;
  left: 0;
  top: 0;
  opacity: 0.4;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .side-nav {
    height: auto;
    width: 100%;
    background-color: rgb(53, 53, 53);
    /* background-image: url('https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); */
    color: #f1f1f1;
    padding-top: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.6);
  }

  .side-nav section {
    width: 80%;
  }

  main {
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .col-1 {
    order: 2;
  }
  
  .col-2 {
    order: 1;
  }
}

.side-nav section {
  padding: 20px;
}

.side-nav-menu li {
  text-decoration: none;
  list-style-type: none;
}

.html5up-link {
  font-size: 12px;
  text-decoration: underline dotted;
  color: #818181;
}

.side-nav-menu a, .social-links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.side-nav a:hover, .side-nav a i:hover {
  color: #f1f1f1;
}

.social-links li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.social-links li i {
  color: #818181;
  font-size: 24px;
}

.social-links {
  text-align: center;
  align-items: center;
}

section {
  padding: 25px;
  margin: auto;
}

#feature {
  align-items: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  display: flex;
  flex: 2;
  /* order: 2; */
}

.col-2 {
  flex: 1;
  /* order: 1; */
}

.row {
  display: flex;
}

.row i {
  margin-right: 10px;
  position: relative;
}

input, textarea {
  background-color: #eee;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
  border: none;
}

textarea {
  width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}